---
layout: default
title: Blogue
---

{% include page_header.html image="contact_header" %}

<div class="content">
  <div class="container">
    {% include feed_link.html %}
    {% for post in site.posts %}
      {% include post.html %}
    {% endfor %}
  </div>
</div>
