---
layout: default
title: Contact
---

{% include page_header.html subtitle="Il paraît qu’on est bien sympathique." image="contact_header" %}

<div class="content contact_top">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center info">
          <p>
           <img src="/assets/images/phone.svg"><a href="tel:+14382381421" class="phone">438.238.1421</a>
         </p>
           <p>
           <img src="/assets/images/letter.svg"><a href="mailto:info@caligram.com" class="email">info@caligram.com</a>
          </p>
        </div>
      </div>
  </div>
</div>

<!-- <div class="container contact_middle">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <form action="/" method="POST">
        <div class="form-group demi">
          <label class="control-label" for="email">Courriel</label>
          <input class="form-control" placeholder="" type="email" value="">
        </div>
        <div class="form-group demi">
          <label class="control-label" for="nom">Nom</label>
          <input class="form-control" placeholder="" type="text" value="">
        </div>

        <div class="form-group"><label class="control-label" for="message">Message</label><textarea class="form-control input-block-level"required="" rows="12"></textarea></div>
        <button class="btn btn-default" name="submit" type="submit" value="Envoyer">Envoyer</button>
      </form>
    </div>
  </div>
</div> -->
