---
layout: default
title: "Coopérative"
---

{% include page_header.html subtitle="Caligram est un projet de plateforme coopérative." image="coop_header" %}

<div class="content coop_top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12">
          <p>{{site.description}}</p>
      </div>
    </div>
  </div>
</div>
