---
layout: default
title: "Offres d’emploi"
---

{% include page_header.html image="coop_header" %}

<div class="content emploi">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-12">
        <h1>Chargée de projets – partenariats et administration</h1>
        <p><em>La personne qui désire se présenter doit être admissible à une <a href="http://www.emploiquebec.gouv.qc.ca/citoyens/integrer-un-emploi/programmes-dintegration-a-lemploi/subvention-salariale/">subvention salariale d’Emploi-Québec</a></em></p>
        <p>Caligram est  une coopérative-startup qui développe un service web qui permet d’outiller organisations, collectivités et communautés de partout avec d’excellents calendriers d’événements collaboratifs. Le projet est réalisé dans la volonté de contribuer au bien commun par la libre circulation de l’information événementielle.</p>
        <p>Nous recherchons une personne qui accomplira notamment les tâches suivantes.</p>
        <p>Au niveau des partenariats&nbsp;:</p>
        <ul>
          <li>Démarchage avec des nouveaux partenaires</li>
          <li>Rédaction d’offres de services</li>
          <li>Suivis partenaires</li>
        </ul>
        <p>Au niveau administratif&nbsp;:</p>
        <ul>
          <li>Faire le suivi des comptes à payer et à recevoir</li>
          <li>Procéder à la saisie des paies (via EmployeurD de Desjardins)</li>
          <li>Préparer les documents à remettre à la comptable en fin de mois</li>
        </ul>
        <p>Au-delà des qualités qui permettent de faire un bon travail dans le cadre de ce poste, nous recherchons quelqu’un qui s’intégrera à la vie démocratique et collective de la coopérative et qui a un intérêt pour les structures horizontales, l’autogestion et les rapports de travail antiautoritaires et égalitaires. Nous encourageons particulièrement les candidatures de femmes et de personnes minorisées. De plus, bien que nous serions heureux d’engager une personne expérimentée, nous sommes aussi ouverts et très intéressés aux personnes qui débutent et qui sont motivées. Les bureaux de Caligram sont situés dans la coopérative de coworking Temps Libre Mile-End, à Montréal, un grand espace lumineux partagé avec une variété d’organisations et de personnes travaillant sur des projets sociaux et culturels.</p>

        <p>Conditions de travail&nbsp;:</p>
        <ul>
          <li>Accès au statut de membre travailleuse de la coop;</li>
          <li>Horaire flexible et taux horaire transparent pour tous les postes de la coop.</li>
        </ul>
        <p>Les personnes intéressées par le poste sont invitées à nous contacter au <a href="mailto:travailler@caligram.com">travailler@caligram.com</a> avec CV et lettre de motivation jusqu’au vendredi 7 septembre 2018.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-12">
        <h1>Développement web</h1>
        <p>Nous n’avons pas d’ouverture de poste en développement web présentement, mais nous sommes toujours intéressés à connaître des développeuses (idéalement avec de l'expérience Laravel ou React). Écrivez-nous à <a href="mailto:travailler@caligram.com">travailler@caligram.com</a>!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-12">
        <p><em>L’emploi du féminin est utilisé pour alléger le texte, et ce, sans préjudice pour la forme masculine.</em></p>
      </div>
    </div>
  </div>
</div>
