---
layout: default
---

<!-- Entete -->
<div class="one font-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-push-8 col-sm-5 col-sm-push-7 title">
        <h1>Des calendriers connectés pour les communautés</h1>
        <h3>Augmentez la découvrabilité des événements de votre organisation ou de votre communauté.</h3>
      </div>
      <div class="col-md-8 col-md-pull-4 col-sm-7 col-sm-pull-5">
        <img src="/assets/images/calendar1.png">
      </div>
    </div>
  </div>
</div>
<div class="two font-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 title">
        <h3>Personnalisez l’affichage de votre calendrier, en utilisant votre design ou le nôtre.</h3>
      </div>
      <div class="col-sm-8">
        <img src="/assets/images/device.png">
      </div>
    </div>
  </div>
</div>
<div class="tree font-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-push-8 title">
        <h3>Faites rayonner vos événements dans notre écosystème de calendriers régionaux et thématiques.</h3>
      </div>
      <div class="col-sm-6 col-sm-pull-4">
        <img src="/assets/images/icon_event.svg">
      </div>
    </div>
  </div>
</div>
<div class="four font-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 title">
        <h3>Rejoignez un public intéressé et intéressant, et participez à la vie collective locale.</h3>
      </div>
      <div class="col-sm-5 col-sm-offset-3">
        <img src="/assets/images/icon_event2.svg">
      </div>
    </div>
  </div>
</div>

<!-- Milieu -->

<div class="container middle">
  <div class="row">
    <div class="col-sm-12 text-center title">
      <h1>Mais encore?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col">
      <img class="icon" src="/assets/images/icon1.svg">
      <h3>Un réseau de diffusion</h3>
      <p>
        Faites rayonner vos données dans un écosystème de calendriers régionaux et thématiques! Sur Caligram, un même évènement peut se retrouver à plusieurs endroits distincts et donc bénéficier d’un maximum de visibilité.
      </p>
    </div>
    <div class="col-sm-4 col">
      <img class="icon" src="/assets/images/icon2.svg">
      <h3>De l’information structurée et organisée</h3>
      <p>
        Vos besoins spécifiques et vos montagnes d’informations ne nous font pas peur. En fait, c’est même notre spécialité. Avec Caligram, facilitez la recherche et la diffusion en structurant l’information selon vos désirs organisationnels.
      </p>
    </div>
    <div class="col-sm-4 col">
      <img class="icon" src="/assets/images/icon3.svg">
      <h3>Un service libre et coopératif</h3>
      <p>
        Caligram est une plateforme vivante qui se nourrit de l’implication de la communauté ainsi que du travail des membres de la coopérative. Toute l'expertise de Caligram est en licence libre, appropriable par votre organisation. 
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col">
      <img class="icon" src="/assets/images/icon4.svg">
      <h3>C’est ben faite</h3>
      <p>
        Nous avons travaillé fort à rendre Caligram aussi délectable que possible. Chaque élément de l’interface a été pensé pour vous faciliter la vie, et nous travaillons constamment à son évolution selon vos besoins et ceux de la communauté.
      </p>
    </div>
    <div class="col-sm-4 col">
      <img class="icon" src="/assets/images/icon5.svg">
      <h3>Responsable et consciencieux</h3>
      <p>
        Caligram est une plateforme coopérative qui privilégie un mode de gestion horizontal et transparent. L’accessibilité, la diversité et l’inclusion font partie de nos valeurs phares, que ce soit au sein de l’équipe, de notre démarche, de notre produit. Choisir Caligram pour son organisation, c’est choisir de s’approvisionner de façon responsable.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center title">
      <a href="/contact/" class="btn btn-default">Contactez-nous</a>
    </div>
  </div>
</div>

<!-- Pied de page -->

<div class="container bottom">
  <div class="row">
    <div class="col-sm-12 text-center title">
      <h1>De quoi ça a l’air?</h1>
    </div>
  </div>
</div>
<div class="first font-grey">
  <div class="container">
    <div class="row">
       <div class="col-md-4 col-md-push-8 col-sm-5 col-sm-push-7">
          <h3>Personnalisez l’affichage de votre calendrier selon vos besoins.</h3>
        </div>
       <div class="col-md-8 col-md-pull-4 col-sm-7 col-sm-pull-5">
          <a href="http://culturevsp.com" target="_blank"><img src="/assets/images/calendar2.png"></a>
        </div>
    </div>
  </div>
</div>
<div class="second font-grey">
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-5">
          <h3>Une interface de saisie d’événements simple et facile à utiliser.</h3>
        </div>
        <div class="col-md-8 col-sm-7">
          <img src="/assets/images/calendar3.png">
        </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center button">
      <a href="/contact/" class="btn btn-default">Contactez-nous</a>
    </div>
  </div>
</div>
