<div class="page_header font-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="coop_title">{% if include.title %}{{ include.title }}{% else %}{{ page.title }}{% endif %}</h1>
        {% if include.subtitle %}
          <h3 class="coop_subtitle">{{ include.subtitle }}</h3>
        {% endif %}
        <img src="/assets/images/{{ include.image }}.svg" alt="">
      </div>
    </div>
  </div>
</div>
