{% if post %}
  {% assign is_list = true %}
{% else %}
  {% assign post = page %}
{% endif %}

<article>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12">
      <h1>
        {% if is_list %}<a href="{{ post.url }}">{% endif %}
          {{ post.title }}
        {% if is_list %}</a>{% endif %}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="metadata col-md-2 col-sm-3">
      Par <strong>{% if post.author %}{{ post.author }}{% else %}Coopérative Caligram{% endif %}</strong><br>
      Publié le
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}janvier
        {% when '2' %}février
        {% when '3' %}mars
        {% when '4' %}avril
        {% when '5' %}mai
        {% when '6' %}juin
        {% when '7' %}juillet
        {% when '8' %}août
        {% when '9' %}septembre
        {% when '10' %}octobre
        {% when '11' %}novembre
        {% when '12' %}décembre
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </div>
    <div class="col-md-8 col-sm-9">
      {{ post.content }}</h1>
    </div>
  </div>
</article>
