<span class="social-links">
  <a href="https://www.facebook.com/caligramcoop/" class="social-link">
    {% include facebook_icon.svg %}
  </a>
  <a href="https://www.twitter.com/caligramcoop/" class="social-link">
    {% include twitter_icon.svg %}
  </a>
</span>