body.blogue {
  a.back {
    font-weight: 600;
    position: relative;
    top: -2.5em;

		@media (max-width: 767px) {
      top: 0;
		}

    img {
      margin-right: 1em;
    }
    
    &:hover span {
      border-bottom: 2px solid $pink;
    }
  }
  
  .page_header {
    img {
	    height: 195px;
	    float: right;
	    margin: -115px 60px -115px 0;

	    @media (max-width: 992px) {
        height:160px;
        margin:-90px auto;
      }
    }
  }
  
  .content {
    h2 {
      font-size: 2em;
      margin-bottom: 0.5em;
    }
    
    h3 {
      font-weight: bold;
    }

    ul, ol {
      padding-left: 1.5em;
    }

    p, li {
      font-size: 1.4em;
      line-height: 1.4em;

      @media (max-width: 767px) {
        font-size: 1.1em;
      }
    }

    li {
      margin-bottom: 0.6em;
  
      & li {
        list-style: square;
        font-size: inherit;
        margin-bottom: 0;
      }
    }

    a.feed-link {
      position: relative;
      top: -2.5em;
    }
  }

  article {
    margin-bottom: 4em;
    
    h1 {
      margin-bottom: 0.8em;
    }
    
    img {
      display: block;
      margin: 30px 0;
      width: 100%;
      
      &[src$='#wide'] {
        width: 1140px;
        margin-left: -195px;
        
        @media (max-width: 1199px) {
          width: 940px;
          margin-left: -161.66px;
        }

        @media (max-width: 992px) {
          width: 720px;
          margin-left: -187.5px;
        }

        @media (max-width: 767px) {
          margin-left: -15px;
          margin-right: -15px;
          width: calc(100% + 30px);
        }
      }
    }
    
    p.caption {
      color: rgba($grey-text, 0.5);
      position: relative;
      top: -20px;
      font-size: 1em;
    }
    
    div.metadata {
      margin-top: 0.5em;

      @media (max-width: 767px) {
        margin-bottom: 2em;
      }
    }
  }
}