body.contact {
  .page_header {
    img {
	    height: 195px;
	    float: right;
	    margin: -115px 60px -115px 0;

	    @media (max-width: 992px) {
        height:160px;
        margin:-90px auto;
      }
    }
  }
}

.contact_top{
	.info{
        p{
            display: inline;
            margin:2%;
            img{
                margin:0 1%;
            }
             @media (max-width: 500px) {
                display:block;
                margin-bottom:30px;
            }
        }
        a{
            font-size: 1.1em;
            line-height: 1.2em;
            color:$grey-text; 
            font-weight: 600;
            margin:auto .5%;
            border-bottom: 2px solid rgba(59, 59, 59, .2)
        }
    }
}
.contact_middle{
    padding:55px;
    form{
        .demi{
            width: 48%;
            float: left;
            &:first-child{
                margin-right:4%;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        label{
            font-size: 1em;
            line-height: 1.15em;
            color:$grey-text;
            margin:15px auto;
        }
        .form-control{
            min-height: 46px;
        }
        input, textarea{
            border-radius: 0;
            border: 2px solid rgba(59, 59, 59, .2);
            box-shadow: none;
        }
        .btn{
            float: right;
            margin-top: 15px;
        }
    }
}