.coop_top{
	p{
		font-size: 1.6em;
		line-height: 1.4em;
         @media (max-width: 767px) {
            font-size: 1.2em;
            line-height: 1.5em;
        }
	}
}
.coop_middle{
	h2{
		font-size: 2.55em;
    	line-height: 1.2em;	
    	color:$grey-text;
    	margin-bottom: 80px;
	}
    .member{
    	padding:0 5% 5%;
      a {
		    font-size: 1em;
      }
    	img{
    		width: 80%;
             @media (max-width: 767px) {
                width:60%;
            }
    	}
    	h4{
		    font-size: 1.2em;
    		line-height: 1.2em;
    		font-weight: 600;
    		color:$grey-text;
		    margin: 20px auto 5px;
    	}
    	p{
    		font-size: 1.2em;
    		line-height: 1.4em;
    		color:$grey-text;
    		margin:0;
    	}
         @media (max-width: 767px) {
            padding:0 5% 13%;
        }
    }
}