.one{
	background: $blue-light;
	@media (min-width: 1200px) {
		.title{
			padding-left: 45px;
		}
	}
	@media (min-width: 992px) {
		.title{
			padding-top: 7%;
		}
	}
  img {
    width: 100%;
  }
}
.two{
	background: $blue;
	.title{
		padding-top:12%;
		@media (max-width: 767px) {
			padding-top:10%;
		}
	}
	img{
    width: 100%;
		margin-bottom: -28px;
		@media (min-width: 992px) {
      padding: 30px 0 0 30px;
			margin-bottom: -35px;
		}
		@media (min-width: 1200px) {
			margin-bottom: -43px;
		}
		@media (max-width: 767px) {
			margin-bottom: -17px;
		}
	}
}
.tree{
	background: $pink;
	.title{
		padding-top:7%;
		@media (min-width: 992px) {
			padding-top:12%;
		}
		@media (max-width: 767px) {
			padding-top:10%;
		}
	}
	img{
		margin-top: -29px;
		@media (min-width: 992px) {
			margin-top: -38px;
		}
		@media (min-width: 1200px) {
			margin-top: -46px;
		}
		@media (max-width: 767px) {
			margin-top: 5%;
			margin-bottom: 0;
		}
	}
}
.four{
	background: $yellow;
	.title{
		padding-top:10%;
		@media (min-width: 992px) {
			padding-top:12%;
		}
	}
	img{
		margin-top:-20px;
		@media (min-width: 992px) {
			margin-top: -65px;
		}
		@media (max-width: 767px) {
			margin-top: 5%;
			margin-bottom: 0;
		}
	}
}
.middle{
	padding:85px 15px 0;
	.title{
		margin:15px auto 85px;
	}
	.col{
		margin-bottom: 85px;
		.icon{
			height: 65px;
			width: auto;
			@media (max-width: 767px) {
				display:block;
				margin:auto;
			}
		}
		h3{
			font-weight: 500;
			margin-top: 25px;
		}
		@media (max-width: 767px) {
			h3,p{
				text-align: center;
			}
		}
	}
}
.bottom{
	.title{
		margin:15px auto 40px;
	}
}
.first{
	padding-top:50px;
	background: $green-light;
  
  img {
    width: 100%;
  }
}
.second{
	padding-top:50px;
	background: $green;

  img {
    width: 100%;
  }
}
.button{
	padding:100px 0 50px;
}
