/*
 * Name:
 * Author:
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700,900);
/* line 1, ../scss/base/_typography.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: #000; }
  /* line 4, ../scss/base/_typography.scss */
  body.is-loading *, body.is-loading *:after, body.is-loading *:before {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }

/* line 18, ../scss/base/_typography.scss */
p, ul li, a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #000; }

/* line 25, ../scss/base/_typography.scss */
a {
  -webkit-transition: all 0.2s;
          transition: all 0.2s; }

/* line 29, ../scss/base/_typography.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
  text-decoration: none;
  color: #fb957f; }

/* line 39, ../scss/base/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
  color: #000; }

/* line 45, ../scss/base/_typography.scss */
h1 {
  font-size: 2.3em;
  line-height: 1.2em; }
  @media (min-width: 992px) {
    /* line 45, ../scss/base/_typography.scss */
    h1 {
      font-size: 2.6em; } }

/* line 52, ../scss/base/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1.4em;
  margin-top: 0; }

/* line 58, ../scss/base/_typography.scss */
.font-grey p, .font-grey ul li, .font-grey a, .font-grey h1, .font-grey h2, .font-grey h3, .font-grey h4, .font-grey h5 {
  color: #353535; }

/* line 1, ../scss/base/_button.scss */
.btn-default {
  border: 2px solid #fb957f;
  border-radius: 0;
  color: #fb957f;
  font-size: 1.2em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 17px; }
  /* line 10, ../scss/base/_button.scss */
  .btn-default:hover, .btn-default:active, .btn-default:focus {
    border: 2px solid #fb957f;
    border-radius: 0;
    color: #fff;
    background: #fb957f;
    -webkit-transition: all 0.2s;
            transition: all 0.2s; }

/*# sourceMappingURL=customVariables.css.map */
/* ======= Navigation ======= */
/*# sourceMappingURL=navigation.css.map */
/* ======= Header ======= */
/* line 2, ../scss/layout/_header.scss */
header {
  background: #bdeff0;
  padding: 50px 0; }
  @media (max-width: 767px) {
    /* line 2, ../scss/layout/_header.scss */
    header {
      padding: 20px 0 0; } }

/* line 9, ../scss/layout/_header.scss */
.navbar-default {
  background-color: transparent !important;
  border: none; }
  /* line 12, ../scss/layout/_header.scss */
  .navbar-default .navbar-brand {
    padding: 0; }
    /* line 14, ../scss/layout/_header.scss */
    .navbar-default .navbar-brand img {
      width: 160px;
      height: 40px; }
  /* line 19, ../scss/layout/_header.scss */
  .navbar-default .navbar-nav > li > a {
    color: #595959;
    font-size: .85em;
    line-height: 1.2em;
    font-weight: 700; }
  /* line 25, ../scss/layout/_header.scss */
  .navbar-default .navbar-toggle {
    border: none; }
    /* line 27, ../scss/layout/_header.scss */
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus {
      background: none; }
  /* line 33, ../scss/layout/_header.scss */
  .navbar-default .navbar-collapse {
    border: none; }

/* line 38, ../scss/layout/_header.scss */
.page_header {
  background: #bdeff0;
  padding-bottom: 45px;
  margin-bottom: 70px; }
  /* line 42, ../scss/layout/_header.scss */
  .page_header .coop_title {
    font-size: 3.45em;
    line-height: 1.2em;
    text-align: center;
    margin-top: 0; }
  /* line 48, ../scss/layout/_header.scss */
  .page_header .coop_subtitle {
    font-size: 1.7em;
    line-height: 1.2em;
    text-align: center; }
  /* line 53, ../scss/layout/_header.scss */
  .page_header img {
    height: 185px;
    float: right;
    margin: -105px auto; }
    /* line 57, ../scss/layout/_header.scss */
    .page_header img.contact {
      height: 195px;
      float: right;
      margin: -115px 60px -115px 0; }
      @media (max-width: 992px) {
        /* line 57, ../scss/layout/_header.scss */
        .page_header img.contact {
          height: 160px;
          margin: -90px auto; } }
    @media (max-width: 992px) {
      /* line 53, ../scss/layout/_header.scss */
      .page_header img {
        height: 125px;
        margin: -70px auto; } }
    @media (max-width: 767px) {
      /* line 53, ../scss/layout/_header.scss */
      .page_header img {
        display: none; } }

/* ======= Footer ======= */
/* line 2, ../scss/layout/_footer.scss */
footer {
  padding: 100px 0; }
  /* line 4, ../scss/layout/_footer.scss */
  footer p, footer a {
    font-size: 1em;
    line-height: 1.5em;
    color: #353535; }
  /* line 9, ../scss/layout/_footer.scss */
  footer a {
    border-bottom: 2px solid #ddd; }
    /* line 11, ../scss/layout/_footer.scss */
    footer a:hover, footer a:focus, footer a:active, footer a.active {
      border-bottom: 2px solid #fb957f; }

/* line 1, ../scss/pages/_home.scss */
.one {
  background: #bdeff0; }
  @media (min-width: 1200px) {
    /* line 4, ../scss/pages/_home.scss */
    .one .title {
      padding-left: 45px; } }
  @media (min-width: 992px) {
    /* line 9, ../scss/pages/_home.scss */
    .one .title {
      padding-top: 7%; } }

/* line 14, ../scss/pages/_home.scss */
.two {
  background: #83d8d3; }
  /* line 16, ../scss/pages/_home.scss */
  .two .title {
    padding-top: 12%; }
    @media (max-width: 767px) {
      /* line 16, ../scss/pages/_home.scss */
      .two .title {
        padding-top: 10%; } }
  /* line 22, ../scss/pages/_home.scss */
  .two img {
    margin-bottom: -26px; }
    @media (min-width: 992px) {
      /* line 22, ../scss/pages/_home.scss */
      .two img {
        margin-bottom: -34px; } }
    @media (min-width: 1200px) {
      /* line 22, ../scss/pages/_home.scss */
      .two img {
        margin-bottom: -41px; } }
    @media (max-width: 767px) {
      /* line 22, ../scss/pages/_home.scss */
      .two img {
        margin-bottom: -19px; } }

/* line 35, ../scss/pages/_home.scss */
.tree {
  background: #fab19e; }
  /* line 37, ../scss/pages/_home.scss */
  .tree .title {
    padding-top: 7%; }
    @media (min-width: 992px) {
      /* line 37, ../scss/pages/_home.scss */
      .tree .title {
        padding-top: 12%; } }
    @media (max-width: 767px) {
      /* line 37, ../scss/pages/_home.scss */
      .tree .title {
        padding-top: 10%; } }
  /* line 46, ../scss/pages/_home.scss */
  .tree img {
    margin-top: -29px; }
    @media (min-width: 992px) {
      /* line 46, ../scss/pages/_home.scss */
      .tree img {
        margin-top: -38px; } }
    @media (min-width: 1200px) {
      /* line 46, ../scss/pages/_home.scss */
      .tree img {
        margin-top: -46px; } }
    @media (max-width: 767px) {
      /* line 46, ../scss/pages/_home.scss */
      .tree img {
        margin-top: 5%;
        margin-bottom: 0; } }

/* line 60, ../scss/pages/_home.scss */
.four {
  background: #ffe89d; }
  /* line 62, ../scss/pages/_home.scss */
  .four .title {
    padding-top: 10%; }
    @media (min-width: 992px) {
      /* line 62, ../scss/pages/_home.scss */
      .four .title {
        padding-top: 12%; } }
  /* line 68, ../scss/pages/_home.scss */
  .four img {
    margin-top: -20px; }
    @media (min-width: 992px) {
      /* line 68, ../scss/pages/_home.scss */
      .four img {
        margin-top: -65px; } }
    @media (max-width: 767px) {
      /* line 68, ../scss/pages/_home.scss */
      .four img {
        margin-top: 5%;
        margin-bottom: 0; } }

/* line 79, ../scss/pages/_home.scss */
.middle {
  padding: 85px 15px 0; }
  /* line 81, ../scss/pages/_home.scss */
  .middle .title {
    margin: 15px auto 85px; }
  /* line 84, ../scss/pages/_home.scss */
  .middle .col {
    margin-bottom: 85px; }
    /* line 86, ../scss/pages/_home.scss */
    .middle .col .icon {
      height: 65px;
      width: auto; }
      @media (max-width: 767px) {
        /* line 86, ../scss/pages/_home.scss */
        .middle .col .icon {
          display: block;
          margin: auto; } }
    /* line 94, ../scss/pages/_home.scss */
    .middle .col h3 {
      font-weight: 500;
      margin-top: 25px; }
    @media (max-width: 767px) {
      /* line 99, ../scss/pages/_home.scss */
      .middle .col h3, .middle .col p {
        text-align: center; } }

/* line 106, ../scss/pages/_home.scss */
.bottom .title {
  margin: 15px auto 40px; }

/* line 110, ../scss/pages/_home.scss */
.first {
  padding-top: 50px;
  background: #c3efe5; }

/* line 114, ../scss/pages/_home.scss */
.second {
  padding-top: 50px;
  background: #83d8d3; }

/* line 118, ../scss/pages/_home.scss */
.button {
  padding: 100px 0 50px; }

/* line 2, ../scss/pages/_coop.scss */
.coop_top p {
  font-size: 1.6em;
  line-height: 1.4em; }
  @media (max-width: 767px) {
    /* line 2, ../scss/pages/_coop.scss */
    .coop_top p {
      font-size: 1.2em;
      line-height: 1.5em; } }

/* line 12, ../scss/pages/_coop.scss */
.coop_middle h2 {
  font-size: 2.55em;
  line-height: 1.2em;
  color: #595959;
  margin-bottom: 80px; }
/* line 18, ../scss/pages/_coop.scss */
.coop_middle .member {
  padding: 0 5% 5%; }
  /* line 20, ../scss/pages/_coop.scss */
  .coop_middle .member img {
    width: 80%; }
    @media (max-width: 767px) {
      /* line 20, ../scss/pages/_coop.scss */
      .coop_middle .member img {
        width: 60%; } }
  /* line 26, ../scss/pages/_coop.scss */
  .coop_middle .member h4 {
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 700;
    color: #595959;
    margin: 20px auto 5px; }
  /* line 33, ../scss/pages/_coop.scss */
  .coop_middle .member p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #595959;
    margin: 0; }
  @media (max-width: 767px) {
    /* line 18, ../scss/pages/_coop.scss */
    .coop_middle .member {
      padding: 0 5% 13%; } }

/* line 3, ../scss/pages/_contact.scss */
.contact_top .info p {
  display: inline;
  margin: 2%; }
  /* line 6, ../scss/pages/_contact.scss */
  .contact_top .info p img {
    margin: 0 1%; }
  @media (max-width: 500px) {
    /* line 3, ../scss/pages/_contact.scss */
    .contact_top .info p {
      display: block;
      margin-bottom: 30px; } }
/* line 14, ../scss/pages/_contact.scss */
.contact_top .info a {
  font-size: 1.1em;
  line-height: 1.2em;
  color: #595959;
  font-weight: 700;
  margin: auto .5%;
  border-bottom: 2px solid rgba(59, 59, 59, 0.2); }

/* line 24, ../scss/pages/_contact.scss */
.contact_middle {
  padding: 55px; }
  /* line 27, ../scss/pages/_contact.scss */
  .contact_middle form .demi {
    width: 48%;
    float: left; }
    /* line 30, ../scss/pages/_contact.scss */
    .contact_middle form .demi:first-child {
      margin-right: 4%; }
    @media (max-width: 767px) {
      /* line 27, ../scss/pages/_contact.scss */
      .contact_middle form .demi {
        width: 100%; } }
  /* line 37, ../scss/pages/_contact.scss */
  .contact_middle form label {
    font-size: 1em;
    line-height: 1.15em;
    color: #595959;
    margin: 15px auto; }
  /* line 43, ../scss/pages/_contact.scss */
  .contact_middle form .form-control {
    min-height: 46px; }
  /* line 46, ../scss/pages/_contact.scss */
  .contact_middle form input, .contact_middle form textarea {
    border-radius: 0;
    border: 2px solid rgba(59, 59, 59, 0.2);
    box-shadow: none; }
  /* line 51, ../scss/pages/_contact.scss */
  .contact_middle form .btn {
    float: right;
    margin-top: 15px; }

/*# sourceMappingURL=styles.css.map */