<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta name="description" content="Diffusez facilement et efficacement les événements de votre organisation.">
    <meta property="og:title" content="Caligram"/>
    <meta property="og:url" content="http://pro.caligram.com"/>
    <meta property="og:image" content="http://pro.caligram.com/favicon.png"/>
    <meta property="og:site_name" content="Caligram Pro"/>
    <meta property="og:description" content="Diffusez facilement et efficacement les événements de votre organisation." />
    <meta property="og:type" content="website" />
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom Feed">
    <link rel="icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Caligram{% if page.title %} – {{ page.title }}{% endif %}</title>

    <!-- Bootstrap & jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script src="/assets/dist/js/bootstrap.min.js"></script>
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins JavaScript -->
    <script src="/assets/js/wow.min.js"></script>
    <script>
    //Wow
    new WOW().init();
    </script>

    <!-- Google Analytics -->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-81893922-2', 'auto');
  ga('send', 'pageview');
  </script>
    <!-- Custom styles -->
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/animate.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body{% if page.title or page.layout == 'post' %} class="{% if page.layout == 'post' %}blogue{% else %}{{ page.title | slugify }}{% endif%}"{% endif %}>
    <header>
      <!-- Navigation -->
      <div class="container">
        <div class="navbar-wrapper">
          <nav class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Affichage de la navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="/assets/images/logo.svg" alt=""></a>
            </div>
            <!-- navbar-collapse -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Accueil</a></li>
                <li><a href="/coop/">Coopérative</a></li>
                <li><a href="/blogue/">Blogue</a></li>
                <li><a href="/contact/">Contact</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>
    </header>

    {{ content }}

     <!-- Footer -->
    <footer>
        <div class="container text-center">
            <div class="row">
              <p>
                {% include feed_link.html %}
                Caligram est une plateforme <a href="/coop/">coopérative</a>
                {% include social_links.html %}
              </p>
            </div>
        </div>
    </footer>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="application/javascript" src="/assets/js/fastclick.js"></script>
    <script type="text/javascript" src="/assets/js/skrollr.min.js"></script>
    <!-- jQuery library (served from Google) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <!-- Custom JS-->
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </body>
</html>
