---
layout: default
---

{% include page_header.html title="Blogue" image="contact_header" %}

<div class="content coop_top">
  <div class="container">
    <a class="back" href="/blogue/"><img src="/assets/images/chevron.svg"><span>Tous les articles</span></a>
    {% include post.html %}
  </div>
</div>

