footer {
  padding: 100px 0;
  
  p {
    font-size: 1em;
    line-height: 1.5em;
    color: $grey-text2;
  }
  
  .social-links {
    line-height: 40px;
    padding-left: 11px;
    margin-left: 10px;
    border-left: 2px solid rgba($grey-text2, 0.1);
    display: inline-block;
  }
  
  a {
    color: $grey-text2;
    
    &.feed-link {
      line-height: 40px;
      padding-right: 15px;
      margin-right: 10px;
      border-right: 2px solid rgba($grey-text2, 0.1);
    }
    
    &.social-link {
      padding: 4px;
      line-height: 40px;

      svg {
        display: inline-block;
        position: relative;
        top: 4px;

        path {
          transition: fill 0.2s;
          fill: rgba($grey-text2, 0.2);
        }
      }
      
      &:hover,
      &:focus,
      &.active {
        svg {
          path {
            fill: $pink2;
          }
        }
      }
    }
    
    &:not(.feed-link):not(.social-link) {
      border-bottom: 2px solid rgba($grey-text2, 0.1);
    
      &:hover,
      &:focus,
      &.active {
        border-bottom: 2px solid rgba($pink2, 0.3);
      }
    }
  }
}
