/* ======= Header ======= */
header{
	background: $blue-light;
	padding: 50px 0;
	@media (max-width: 767px) {
		padding:20px 0 0;
	}
}
.navbar-default{
	background-color: transparent!important;
	border:none;
	.navbar-brand{
		padding:0;
		img{
			width: 160px;
			height: 40px;
		}	
	}
	.navbar-nav>li>a {
	    color: $grey-text;
	    font-size: .85em;
	    line-height: 1.2em;
	    font-weight: 600;
	}
	.navbar-toggle {
	    border: none;
	    &:hover,
	    &:active,
	    &:focus{
	    	background:none;
	    };
	}
	.navbar-collapse{
    border: none;
}
}

.page_header {
  background: #bdeff0;
  padding-bottom: 45px; 
  margin-bottom: 70px;
  
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }

  .coop_title {
  	font-size: 3.45em;
  	line-height: 1.2em;
  	text-align: center;
  	margin-top: 0;
  }

  .coop_subtitle {
  	font-size:1.7em;
  	line-height: 1.2em;
  	text-align: center;
  }

  img {
    height: 185px;
  	float: right;
  	margin: -105px auto;
    
    @media (max-width: 767px) {
      display: none;
    }

    @media (max-width: 992px) {
      height:125px;
      margin:-70px auto;
    }
	}
}
