.btn-default{
	border: 2px solid $pink2;
	border-radius: 0;
	color: $pink2;
	font-size: 1.2em;
	line-height: 1.5em;
	text-transform: uppercase;
	font-weight: 600;
    padding: 12px 17px;
    &:hover,
    &:active,
    &:focus{
    	border: 2px solid $pink2;
		border-radius: 0;
		color: #fff;
		background: $pink2;
		transition: all 0.2s;
    };
}