body {
	@include source-font();
	&.is-loading {
		*, *:after, *:before {
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
		}
	}
	color:#000;
}

strong {
  font-weight: 600;
}

p,ul li {
	@include source-font();
	font-size: 1.2em;
	line-height: 1.5em;
	color:#000;
}

a {
	transition: background-color 0.2s, border-color 0.2s;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
	text-decoration: none;
	color:$pink2;
}

h1,h2,h3,h4,h5{
	@include source-font();
	font-weight: 300;
	color:#000;
}

h1{
	font-size: 2.3em;
	line-height: 1.2em;
	@media (min-width: 992px){
		font-size: 2.6em;
	}
}
h3{
	font-size: 1.5em;
	line-height: 1.4em;
	margin-top:0;
}
.font-grey{
	p,ul li,a,h1,h2,h3,h4,h5{
		color:$grey-text2;
	}
}