a.feed-link {
  color: $grey-text2;
  display: inline-block;
	transition: all 0.2s;
  
  svg {
    display: inline-block;
    width: 12px;
    margin: 0 6px 0 0;
    position: relative;
    top: 1px;
    
    path, circle {
      fill: rgba($grey-text2, 0.2);
    }
  }
  
  span {
    border-bottom: 2px solid rgba($grey-text2, 0.1);
  	transition: all 0.2s;
  }
  
  &:hover,
  &:focus,
  &:active,
  &.active {
    svg {
      path, circle {
        fill: rgba($pink2, 0.4);
      }
    }
    
    span {
      color: $pink2;
      border-bottom: 2px solid rgba($pink2, 0.3);
    }
  }
}
